/* Variable config button */
.variable_client_config_button { position:absolute; left: 0; top: 100px; z-index: 200; display: block;  width: 22px; height: 26px; background: url('config.png') no-repeat; text-indent: -999px; }

/* Modal */
#modalBackdrop { background: #666 !important; }
#modalContent .ctools-modal-content { background: #666666; box-shadow: 0 0 7px rgba(0,0,0,0.4); border: none; border-radius: 3px; color: #333; font-family: sans-serif; line-height: 1.4; padding-bottom: 1.8em; }
#modalContent .ctools-modal-content a { color: #2e2e2e; }
#modalContent .ctools-modal-content a:hover { color: #01a8db; }

#modalContent .modal-header { padding: 10px 20px; background: #2e2e2e; border-bottom: 1px solid #8d8d8d; border-radius: 3px 3px 0 0; }
#modalContent .modal-header .modal-title { color: #fff; font-size: 1.231em; font-weight: normal; text-shadow: 1px 1px 1px rgba(255,255,255,.5); }
#modalContent .modal-header a.close { display: block; width: 16px; height: 16px; margin: 5px 0 0 0; background: url('close.png'); text-indent: -9999px; }
#modalContent .modal-header a.close:hover { background-position: bottom left; }

#modalContent .modal-content { border-radius: 0 0 3px 3px; padding: 1em; }
#modalContent .modal-content > form { padding: 10px 8px 0 7px; border-radius: 3px; padding: 1em; background: #f6f6f6; }

#modalContent .messages { margin: 10px 0; border-radius: 3px; }
#modalContent ul.overview { list-style: none; padding: 10px 15px; margin: 0; background: #f6f6f6; border-radius: 3px;  }
#modalContent ul.overview li { padding: 8px 0; border-bottom: 1px solid #ddd; }

#modalContent .ctools-modal-content	.form-item .description { color: #999; font-style: italic; }
#modalContent .ctools-modal-content .form-item-boolean .description { margin-top: 10px; }
#modalContent .ctools-modal-content .throbber { position: relative; top: 2px; margin: 0 0 0 0.6em; }
#modalContent .ctools-modal-content .grippie { border-radius: 0 0 3px 3px; }

#modalContent .ctools-modal-content	fieldset { position: relative; top: 12px; padding: 0 0 10px; margin-top: 10px; margin-bottom: 32px; background: #fff; border: 1px solid #ccc; border-radius: 3px; }
#modalContent .ctools-modal-content	fieldset legend { position: absolute; left: -1px; top: -12px; display: block; height: 2em; width: 100%; padding: 0; background: #e5e5e5; border: 1px solid #ccc; border-bottom: none; color: #333; font-family: sans-serif; line-height: 2; text-indent: 10px; text-shadow: 0 1px 0 #fff; }


#modalContent .ctools-modal-content	.form-item label { margin: 6px 0; font-weight: bold; }
#modalContent .ctools-modal-content .form-item-content-management-admin-path label,
#modalContent .ctools-modal-content .form-item-text-format-format label { display: inline; float: none; margin: 0 5px 0 0; }

#modalContent .ctools-modal-content	.fieldset-wrapper { margin: 0; padding: 0 10px; }
#modalContent .ctools-modal-content	.form-wrapper legend + .fieldset-wrapper { margin: 25px 0 0 0; }
#modalContent .ctools-modal-content .form-item { margin: 0 0 10px 0; } 
#modalContent .ctools-modal-content .form-text { display: inline-block; width: 210px; height: 18px; padding: 4px; line-height: 18px; border-radius: 3px; }
#modalContent .ctools-modal-content .form-text,
#modalContent .ctools-modal-content .form-textarea { padding: 5px; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); color: #555; 
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	
} 
#modalContent .ctools-modal-content .resizable-textarea { margin: 0 0 0 14em; } 
#modalContent .ctools-modal-content .form-textarea { border-radius: 3px 3px 0 0; } 
#modalContent .ctools-modal-content .form-radio { margin: 0 2px 2px 0; vertical-align: middle; }
#modalContent .ctools-modal-content .form-select { padding: 4px; margin: 6px 2px 2px 2px; border: 1px solid #ccc; }
#modalContent .ctools-modal-content .form-submit,
#modalContent .ctools-modal-content .form-actions a {
	background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e0e0e0)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e0e0e0); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #f3f3f3, #e0e0e0); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, #f3f3f3, #e0e0e0); /* IE10 */
  background-image:      -o-linear-gradient(top, #f3f3f3, #e0e0e0); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #f3f3f3, #e0e0e0);
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;	
  margin: 0 0.6em 0	 0; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;	
}
#modalContent .ctools-modal-content .form-actions a {
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ededed)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f7f7f7, #ededed); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #f7f7f7, #ededed); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, #f7f7f7, #ededed); /* IE10 */
	background-image:      -o-linear-gradient(top, #f7f7f7, #ededed); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #f7f7f7, #ededed);	
}
#modalContent .ctools-modal-content .form-submit:hover,
#modalContent .ctools-modal-content .form-actions a:hover { text-decoration: none;
	background-color: #cccccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#d4d4d4)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #cccccc, #d4d4d4); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #cccccc, #d4d4d4); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, #cccccc, #d4d4d4); /* IE10 */
	background-image:      -o-linear-gradient(top, #cccccc, #d4d4d4); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #cccccc, #d4d4d4);
}

#modalContent .ctools-modal-content .wysiwygToolbar a { float: left; }
#modalContent .ctools-modal-content .filter-help a { padding: 0; }
